@inherits LayoutComponentBase

<header>
    <h1>¡Bienvenido a Mi Aplicación!</h1>
</header>
<nav>
    <ul class="nav-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/acerca-de">Acerca de</a></li>
        <li><a href="/contacto">Contacto</a></li>
        
    </ul>
</nav>

 <main>
    @Body
 </main>
<footer>
    <p>© 2024 Mi Aplicación. Todos los derechos reservados.</p>
</footer>


