/* _content/tarea2/Components/Layout/MainLayout.razor.rz.scp.css */
/* Estilos globales */
body[b-ttvj377xiy], html[b-ttvj377xiy] {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

/* Encabezado principal */
header[b-ttvj377xiy] {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.5em;
}

/* Contenido principal */
main[b-ttvj377xiy] {
    margin: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Pie de página */
footer[b-ttvj377xiy] {
    text-align: center;
    padding: 10px 0;
    background-color: #007acc;
    color: white;
}

/* Estilos del navbar */
.nav-menu[b-ttvj377xiy] {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    background-color: #007acc;
    margin: 0;
}

.nav-menu li a[b-ttvj377xiy] {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-menu li a:hover[b-ttvj377xiy] {
    background-color: #005fa3;
    transition: background-color 0.3s;
}

/* Botones y enlaces */
button[b-ttvj377xiy], .button[b-ttvj377xiy] {
    background-color: #007acc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover[b-ttvj377xiy], .button:hover[b-ttvj377xiy] {
    background-color: #005fa3;
}

/* Estilos responsivos para diferentes tamaños de pantalla */
@media (max-width: 600px) {
    .nav-menu[b-ttvj377xiy] {
        flex-direction: column;
    }
}
